{% extends "base.html" %}

{% block nav %}
  <ul>
    <li class="site-title">
      {% if article.category == "blog" %}
      <a title="{{ SITENAME }}" href="{{ SITEURL }}/">&#x21E0; back home</a>
      {% else %}
      <a title="{{ article.category }}" href="{{ SITEURL }}/{{ CATEGORY_SAVE_AS.format(slug=category.slug) }}">&#x21E0; back to {{ article.category }}</a>
      {% endif %}
    </li>
  </ul>

{% endblock nav %}

{% block content %}

  {% if article.category == "notes" %}
  <div class="full">
    <p>
      <strong class="p-name">{{ article.title }}</strong>.
      <em>
        This note was first published on
        <span class="dt-published">{{ article.locale_date }}</span>{% if article.in_reply_to %}, in reply
        to <a rel="in-reply-to" href="{{ article.in_reply_to }}" class="u-in-reply-to h-cite">this</a>{% endif %}.
      </em>
    </p>
    <ul hidden>
      <li>Authored by <a href="{{SITEURL}}" class="p-author h-card" rel="author">{{ article.author }}</a></li>
      <li><a class="u-url" href="{{ SITEURL }}/{{ article.url }}">Permalink</a></li>
    </ul>
  </div>
  {% else %}
  <header id="header">
    <h1 class="p-name">{{ article.title }}</h1>
    <time class="dt-published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
    <ul hidden>
        <li>Authored by <a href="{{ SITEURL }}" class="p-author h-card" rel="author">{{ article.author }}</a></li>
        <li><a class="u-url" href="{{ SITEURL }}/{{ article.url }}">Permalink</a></li>
    </ul>
  </header>
  {% endif %}

  <section id="content" class="e-content">
    {{ article.content }}
  </section>

  {% if article.modified %}
  <footer class="postscript">
    <strong>Updated</strong>
    <time class="dt-updated"
          datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}
    </time>
  </footer>
  {% endif %}

  <footer class="postscript" id="webmentions">
    <strong>Webmentions</strong>
    <small class="webmentions">supported</small>
  </footer>

{% endblock content %}

{# The rest is mostly taken from !simple/article.html #}

{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ article.title }} | {{ article.category | title }} | {{ SITENAME }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

{% endblock head %}

{% block meta %}
  {{ super() }}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock meta %}

{% block link %}

  {{ super() }}
  <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}" />
  {% if REL_WEBMENTION %}<link rel="webmention" href="{{ REL_WEBMENTION }}" />{% endif %}
  {% if REL_PINGBACK %}<link rel="pingback" href="{{ REL_PINGBACK }}" />{% endif %}

{% endblock link %}

{% block opengraph %}

  {{ super() }}
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
  <meta property="og:title" content="{{ article.title | e }}" />
  <meta property="og:description" content="{{ article.content | striptags | e | truncate(159, False, '…') }}" />

{% endblock opengraph %}

{% block js %}
<script type="text/javascript">
{% include 'figure.js' %}
{% include 'webmentions.js' %}
</script>
{% endblock js %}
