<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
  {% block head %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  {% block meta %}
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock meta %}
  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% block link %}
  <link rel="shortcut icon" href="{{ SITEURL }}/theme/images/icon.png" />
  <link rel="fluid-icon" sizes="" href="{{ SITEURL }}/theme/images/icon.svg" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/hello.css" />
  {% if (article and article.source_path.endswith(".ipynb")) %}<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/nb.css" />{% endif %}
  {% if REL_MES %}
  {% for link, auth in REL_MES %}
  <link rel="me" href="{{ link }}" {% if auth %}authn{% endif %} />
  {% endfor %}
  {% endif %}
  {% endblock link %}
  {% block opengraph %}
  <meta property="og:image" content="{{ SITEURL }}/theme/images/opengraph.svg" />
  <meta property="og:site_name" content="{{ SITENAME }}" />
  {% endblock opengraph %}
  {% endblock head %}
</head>

<body>
  <nav class="center">
    {% block nav %}
    <ul>
      <li class="site-title">
        {% if LOGO_CHAR %} {{ LOGO_CHAR }} {% endif %}
        {{ SITENAME }} <em>{{ SITESUBTITLE }}</em>
      </li>
      {% if DISPLAY_PAGES_ON_MENU %}
        {% for p in pages %}
        <li{% if p == page %} class="active"{% endif %}>
          <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
        </li>
        {% endfor %}
      {% endif %}
      {% if DISPLAY_CATEGORIES_ON_MENU %}
        {% for cat, _ in categories %}
        <li{% if cat == category %} class="active"{% endif %}>
          <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat | title }}</a>
        </li>
        {% endfor %}
      {% endif %}
      {% if MENU_ITEMS is not none %}
        {% for item, link in MENU_ITEMS %}
        <li><a href="{{ link }}">{{ item }}</a></li>
        {% endfor %}
      {% endif %}
    </ul>
    {% endblock nav %}
  </nav>
  <article class="page {% if article %}h-entry{% endif %}">
    {% block content %}
    {% endblock content %}
  </article>
  <footer class="center">
    {% block footer %}
    <address>
      {% if LOGO_CHAR %} {{ LOGO_CHAR }} {% endif %}
    </address>
    {% endblock footer %}
  </footer>
</body>
{% block js %}
{% endblock js %}
</html>
