{% extends "base.html" %}

{% block nav %}
  <ul>
    <li class="site-title">
      <a title="{{ SITENAME }}"
         href="{{ SITEURL }}/">&#x21E0; back home</a>
    </li>
  </ul>
{% endblock nav %}

{% block content %}

  {% if category == "now" %}
  {% include "now.html" %}
  {% else %}
  <header id="header">
    <h1>{{ category | title }}{% if CATEGORY_FEED_ATOM -%}
      <a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}"
              title="Atom feed for &ldquo;{{category}}&rdquo;"><img aria-label="Atom feed icon" src="{{ SITEURL }}/theme/images/feed.svg" />
      </a>{% endif %}
    </h1>
  </header>

  {% for article in articles_page.object_list %}
  <details class="hentry accordion" {% if loop.index == 1 %}open{% endif %}>
    <summary class="accordion-header">
      <span class="icon">&#12297;</span>
      <header>
        <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="&ldquo;{{ article.title|striptags }},&rdquo; posted on {{ article.locale_date }}.">{{ article.title }}</a></h2>
      </header>
    </summary>
    <div class="entry-summary">
          {{ article.summary|striptags }}
    </div>
  </details>
  {% endfor %}
  {% endif %}

{% endblock content %}

{% block title %}{{ category | title }} | {{ SITENAME }}{%endblock%}

{% block link %}

  {{ super() }}

  <link rel="canonical" href="{{ SITEURL }}/{{ category.url }}" />
  {%if CATEGORY_FEED_ATOM -%}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} {{category.slug}} Atom Feed" />
  {% endif %}

{% endblock link %}

{% block opengraph %}

  {{ super() }}

  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ SITEURL }}/{{ category.url }}" />
  <meta property="og:title" content="{{ category | title | e }}" />

{% endblock opengraph %}

{% block js %}
<script type="text/javascript">
{% include 'figure.js' %}
</script>
{% endblock js %}
