{% extends "base.html" %}

{% block content %}

  {% if INTRO_TEXT %}
  <div class="full">
    {{ INTRO_TEXT }}
  </div>
  {% endif %}

  <header id="header">
    <h1>Posts{% if FEED_ALL_ATOM -%}
      <a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM.format(slug=DEFAULT_CATEGORY) }}"
         title="Atom feed"><img aria-label="Atom feed icon" src="{{ SITEURL }}/theme/images/feed.svg" />
      </a>{% endif %}
    </h1>
  </header>

  {% for article in articles_page.object_list | selectattr('category', '==', 'blog') %}
  <details class="hentry accordion" {% if loop.index == 1 %}open{% endif %}>
    <summary class="accordion-header">
      <span class="icon">&#12297;</span>
      <header>
        <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="&ldquo;{{ article.title|striptags }},&rdquo; posted on {{ article.locale_date }}.">{{ article.title }}</a></h2>
      </header>
    </summary>
    <div class="entry-summary">
      {{ article.summary|striptags }}
    </div>
  </details>
  {% endfor %}

{% endblock content %}

{% block link %}

  {{ super() }}

  {% if INDIEAUTH %}
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
  {% endif %}
  {% if OPENID %}
  <link rel="openid.delegate" href="{{ SITEURL }}">
  <link rel="openid.server" href="{% if OPENID_SERVER %}{{OPENID_SERVER}}{% else %}https://openid.indieauth.com/openid{% endif %}">
  {% endif %}

{% endblock link %}

{% block opengraph %}

  {{ super() }}

  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ SITEURL }}" />
  <meta property="og:title" content="{{ SITENAME }}" />

{% endblock opengraph %}
