{% set article = articles_page.object_list[0] %}
<div class="full">
  <p><em>This is a <a href="https://nownownow.com/about">now page</a>.</em></p>
</div>
<section id="content" class="e-content">
  {{ article.content }}
</section>
<footer class="postscript">
  <strong>Updated</strong>
  <time class="dt-published"
        datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}
  </time>
</footer>
