{% extends "base.html" %}

{% block nav %}
  <ul>
    <li class="site-title">
      <a title="{{ SITENAME }}"
         href="{{ SITEURL }}/">&#x21E0; back home</a>
    </li>
  </ul>
{% endblock nav %}

{% block content %}

  <header id="header">
    <h1>{{ page.title }}</h1>
  </header>
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(page) }}

  <section id="content">
    {{ page.content }}
  </section>

  {% if page.modified %}
  <footer class="postscript">
    <strong>Updated</strong>
    <p>{{ page.locale_modified }}</p>
  </footer>
  {% endif %}

{% endblock content %}

{# The rest is mostly taken from !simple/page.html #}

{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ page.title }} | {{ SITENAME }}{%endblock%}

{% block head %}

  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}

{% endblock %}

{% block link %}

  {{ super() }}

  <link rel="canonical" href="{{ SITEURL }}/{{ page.url }}" />

{% endblock link %}

{% block opengraph %}

  {{ super() }}

  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" />
  <meta property="og:title" content="{{ page.title | e }}" />
  <meta property="og:description" content="{{ page.content | striptags | e | truncate(159, False, '…') }}" />

{% endblock opengraph %}

{% block js %}
<script type="text/javascript">
{% include 'figure.js' %}
</script>
{% endblock js %}
